
@{
    ViewData["Title"] = "Activate Account";
}

<h1>GeoBoard</h1>

<p>Hey @Model.Username,</p>

<p>Please confirm your email by clicking the folowing link:</p>

<p>REPLACE THIS LINK \/</p>

<p>https://localhost:44335/account/activate?email=@Model.Email&Token=@Model.Token</p>

<p>Have fun on Reversi.ga!</p>