
@{
    ViewData["Title"] = "Activate Account";
}

<h1>GeoBoard</h1>

<p>Hey @Model.Username,</p>

<p>Please confirm your email by clicking the folowing link:</p>

<p>http://localhost/register/activate?email=@Model.Email&token=@Model.Token</p>

<p>Have fun on GeoBoard.ga!</p>