@{
    ViewData["Title"] = "Activate Account";
}

<h1>GeoBoard</h1>

<p>Hey @Model.UserName,</p>

<p>Please confirm your email by clicking the folowing link:</p>

<environment include="Development">
    <p>http://localhost:8888/register/activate?email=@Model.Email&token=@Model.Token</p>
</environment>
<environment include="Production">
    <p>https://geoboard.ga/register/activate?email=@Model.Email&token=@Model.Token</p>
</environment>

<p>Have fun on GeoBoard.ga!</p>
