@model ResetPasswordEmailViewModel;
@{
    ViewData["Title"] = "Password reset request";
}

<h1>GeoBoard</h1>

<p>Hey @Model.UserName,</p>

<p>Please goto the following link to reset your password:</p>

<environment include="Development">
    <p>http://localhost:8888/reset-password?email=@Model.Email&token=@Model.Token</p>
</environment>
<environment include="Production">
    <p>https://geoboard.ga/reset-password?email=@Model.Email&token=@Model.Token</p>
</environment>

<p>If you did not request a password reset, please contact GeoBoard.app as soon as possible!</p>

<p>Have fun on GeoBoard.app</p>