
@{
    ViewData["Title"] = "Activate Account";
}

<h1>GeoBoard</h1>

<p>Hey @Model.UserName:</p>

<p>Your password has successfully been reset!</p>

<p>If you did not request a password reset, please contact Reversi.ga as soon as possible!</p>

<p>Have fun on Reversi.ga!</p>