
@{
    ViewData["Title"] = "Your password has been reset succesfully";
}

<h1>GeoBoard</h1>

<p>Hey @Model.UserName,</p>

<p>Your password has successfully been reset!</p>

<p>If you did not request a password reset, please contact GeoBoard.ga as soon as possible!</p>

<p>Have fun on GeoBoard.app!</p>