@{
    ViewData["Title"] = $"You have been added to the {Model.BoardName}";
}
<p>Hey @Model.UserName,</p>

<p>You have been added to the <b>@Model.BoardName</b> board by @Model.AddedBy.</p>
<p>You can find this board in your list of boards from now on.</p>

<p>Have fun on GeoBoard.ga!</p>
